Host *
    # These are the defaults as installed by the Ubuntu 14.04 openssh package.
    SendEnv LANG LC_*
    HashKnownHosts yes
    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_ed25519
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no

    PasswordAuthentication no
    ChallengeResponseAuthentication no
    PubkeyAuthentication yes

Host bitbucket.org
   HostName altssh.bitbucket.org
   Port 443
